:root {
    font-family: Montserrat;
    --color-primary: rgba(255, 70, 70, 1);
    --dark: #181c29;
	--static-white: #fff;
	--content-background: #ecf3f8;
	--tag-purple: #4361ff;
	--tag-pink: #ff43f7;
	--tag-green: #06a44f;
	--primary-10: rgba(255, 70, 70, 0.1);
	--static-white-20: rgba(255, 255, 255, 0.2);
	--static-white-40: rgba(255, 255, 255, 0.4);
	--overlay: rgba(24, 28, 41, 0.8);


    --font-family: "Montserrat", sans-serif;
    --second-family: "Allura", sans-serif;
    --third-family: "SF Pro", sans-serif;
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h2,
h1 {
    font-weight: normal;
    margin: 0;
}

.wraper {
    max-width: 1440px;
    margin: 0 auto;
}


.header_container {
    height: 64px;
    display: flex;
}

.header_content {
    height: 64px;
    width: 88%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo_container {
    display: flex;
    align-items: center;
    width: 10.4%;
    justify-content: space-evenly;

    p {
        font-size: 12px;
        font-weight: 600;
        line-height: 15.6px;
        letter-spacing: 0.05em;
    }
}

.navigation_container {
    width: 27%;
    display: flex;
}

.navigation_list {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navigation_item {
    display: flex;
}

.navigation_link {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
}