.car-container {
  border-bottom: dotted 3px black;
  margin-bottom: 10px;
  button {
    min-width: auto;
  }
}

.car-path-container {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.car-name {
  font-size: x-large;
}

.car-svg-container,
svg,
.finish-img {
  width: 50px;
  height: 50px;
}

.car-svg-container{
  transform: translateX(3px);
}