.chat-container {
  width: 60vw;
  height: 70vh;
  background-color: var(--color-window-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.chat-window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-content-container {
  display: flex;
  width: 100%;
  height: 85%;
  align-items: center;
  justify-content: center;
}

.user-block-content {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid var(--color-accent);
}

.search-container {
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  height: 30px;
}

.search-icon {
  height: 30px;
  width: 30px;
}

.search-button {
  min-width: auto;
  min-height: auto;
  padding: 0;
  background-color: unset;
  border: unset;
  &:hover {
    background-color: unset;
  }
}

.search-input {
  width: 75%;
  height: 30px;
}

.users-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.user-list-header,
.friend {
  margin-left: 10px;
}
.user-list-header {
  margin-bottom: 5px;
  font-family: 'Itim', cursive;
  font-size: larger;
}

.dialogue-content {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.friend-name {
  font-family: 'Itim', cursive;
  font-size: 30px;
  margin-right: 10px;
}
.message-container {
  height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.messages-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.configur-message-container {
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.message-input {
  height: 20px;
  width: 80%;
  resize: none;
  border-radius: 5px;
  border-color: var(--color-btn-border);
  border-width: 0.1px;
  border-style: solid;
  padding: 5px;
  outline-width: 1px;
  &:focus-visible {
    outline-color: var(--color-btn-border);
  }
}

.message-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: aliceblue;
}

.configs-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
}

.temp-container {
  display: flex;
  justify-content: space-between;
}

.name-in-message {
  font-family: 'Itim', cursive;
}

.message-status-icon,
.edit-icon {
  width: 20px;
  height: 20px;
}
.edit-icon-container,
.message-status-container {
  width: 20px;
  height: 20px;
}

.message-date {
  font-size: 14px;
}

.friend-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.online-status-container {
  display: flex;
  margin-right: 10px;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}

.companion-name-container {
  display: flex;
  align-items: center;
}
