.modal-window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-window-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 5px;
}

.modal-window-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  align-self: flex-end;
  min-width: unset;
  min-height: unset;
}
