* {
  transition: all 0.3s ease-out;
}

html {
  --color-font-main-light: #141429;
  --color-background-game-window-light: #ff84cd9c;

  --color-btn-background-inactive-light: white;
  --color-btn-background-hover-light: rgb(241 77 133 / 55%);
  --color-accent-light: rgb(241 77 133);

  --color-table-row-even-light: #df709e;
  --color-table-row-odd-light: #efc8d4;

  --color-table-row-even-dark: rgb(191 174 174);
  --color-table-row-odd-dark: rgb(72 56 70);

  --color-game-clicked-light: gray;
  --color-game-notclicked-light: white;
  --color-game-border-light: darkgray;

  --color-game-clicked-dark: white;
  --color-game-notclicked-dark: gray;
  --color-game-border-dark: darkgray;

  --color-font-main-dark: #ffffff;
  --color-background-game-window-dark: #fdfafc96;
  --color-btn-background-inactive-dark: #3c3737;
  --color-btn-background-hover-dark: rgb(241 77 133 / 55%);
  --color-accent-dark: rgb(80 23 43);

  font-family: "Nunito", serif;
  color: var(--color-font-main-light);
}

button {
  font-family: inherit;
  color: inherit;
  border-radius: 5px;
  &:hover {
    background-color: var(--color-btn-background-hover-light) !important;
  }
}

.icon-btn {
  width: 30px;
  height: 30px;
  padding: 10px;
  border: 0px solid;
  cursor: pointer;
  background-size: cover;
  background-color: unset;
}

.setting-btn {
  bottom: 25px;
  left: 25px;
}

.close-btn {
  background: url("./assets/img/light/cross.png");
  background-size: cover;
}

.close-btn.results {
  display: flex;
}
.text-btn {
  height: 40px;
  width: 90px;
  padding: 5px;
  align-items: center;
  text-align: center;
  display: inline-block;
  border: 0px solid;
  cursor: pointer;
  margin-left: 10px;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

.game-window {
  width: 60vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
}

.manage-header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.timer {
  display: flex;
  align-items: center;
  font-size: large;
}

.icons-container {
  width: 18%;
  display: flex;
  justify-content: space-between;
}

.level-container {
  display: flex;
  justify-content: space-between;
}

.level-options-list {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  display: none;
  margin: 0px;
}
input[type="radio"]:checked + .level-label {
  background-color: var(--color-accent-light) !important;
}

.level-label {
  height: 40px;
  width: 90px;
  padding: 5px;
  align-items: center;
  text-align: center;
  display: inline-block;
  border: 0px solid;
  cursor: pointer;
  margin-left: 10px;

  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 0px;

  &:hover {
    background-color: var(--color-btn-background-hover-light);
  }
}

.dropdown-btn {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  list-style: none;
  padding-inline-start: 0px;
}

.dropdown-content.show {
  display: block;
}

.dropdown-item {
  height: 40px;
  width: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-container {
  display: flex;
}

.game-container {
  height: 74%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.game-grid-container {
  display: grid;
  justify-content: center;
}

.game-grid-cells {
  display: grid;
  justify-content: space-around;
  align-content: space-between;
  justify-items: end;
  align-items: end;
  grid-template-columns: repeat(5, 70px);
  grid-template-rows: repeat(5, 70px);
  grid-column-start: 2;
  grid-row-start: 2;

  border-bottom: 2px solid gray;
  border-right: 2px solid gray;
}

.game-grid-cell {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: solid 1px rgba(128, 128, 128, 0.742);
}

.game-grid-cell.clicked {
  background-color: lightgray !important;
}

.game-grid-cell.right-clicked {
  background: url(./assets/img/light/cross.png), white;
  background-size: cover;
}

.vertical-hints {
  height: 70px;
  display: grid;
  justify-items: center;
  justify-items: end;
  grid-template-columns: repeat(5, 70px);
  grid-column-start: 2;
  border: solid 3px rgba(128, 128, 128, 0.742);
}

.horisontal-hints {
  display: grid;
  width: 70px;
  justify-items: center;
  align-items: end;
  grid-template-rows: repeat(5, 70px);
  grid-row-start: 2;
  border: solid 3px rgba(128, 128, 128, 0.742);
}

.horisontal-hint,
.vertical-hint {
  display: grid;
  align-items: end;
  justify-items: center;
  align-content: center;

  cursor: pointer;
  width: 100%;
  height: 100%;
  border: solid 1px rgba(128, 128, 128, 0.742);
}

.horisontal-hint {
  justify-content: end;
}
.vertical-hint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.setting-container {
  display: flex;
  align-items: center;
}

.hidden-btn-container {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  transform: translateX(0%);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 1;
}

.hidden-btn-container.inactive {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}

.footer-game-setting-container {
  height: 21%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.win-window {
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-accent-light);
  margin: auto 0;
  position: fixed;
  border-radius: 5px;
  z-index: 11;
}

.win-text {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  font-size: large;
}

.close-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.hidden {
  display: none;
  width: 0;
  height: 0;
  visibility: hidden;
}

.gif-win-container {
  display: flex;
  justify-content: center;
}

.gif-win {
  width: 100px;
  height: 100px;
  background: url(./assets/img/win.gif);
  background-size: cover;
  display: flex;
}

.results-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 5px;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  z-index: 11;
}
.results-container.show {
  transform: translateX(0);
  opacity: 1;
}

.results-header {
  margin-bottom: 10px;
}

th,
td {
  padding: 5px;
}

@media screen and (min-width: 1280px) {
  .game-window {
    width: 45vw;
  }
}

@media screen and (max-width: 870px) {
  .results-container {
    position: fixed;
    height: 300px;
    width: 300px;
  }

  .game-window {
    width: 53vh;
  }
  .icons-container {
    width: 20%;
  }
  .level-container {
    flex-direction: column;
    height: 13%;
  }
  .footer-game-setting-container {
    height: 13%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  z-index: 10;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}
